:root{
  --skyBlue:#5bb4f9;
  --darkBlue:#181b20;
  --seaBlue:#1f6087;
  --greyish:#5b6897;
  --greenish:#777f82;
}
body{color:var(--darkBlue)}
.main_img{
  height:9rem;
  margin :3rem 0;
  width: 100%;
}

/**********
get started 
**********/
main{
  display :grid ;
  grid-gap: 2rem ;
  grid-template-columns :1fr ;
  padding-bottom:3rem ;
}
main div{padding :2rem ;}
h1,
h2{
  font-size :1.75rem ;
  font-weight: 300;
  opacity :0.75 ;
}
h1+p, 
#started h2 + p, 
ol li{
  font-size :0.9rem ;
  line-height :1.5 ;
  padding-top :1rem ;
}
#started{padding :0 2rem ;}
#started h2 + p{text-align :justify ;}
/**********
  mission 
**********/
#mission {
  background :#e5e5e5 ;
  padding :3rem 2rem ;
}
#oil{
  background :var(--seaBlue);
  color :var(--darkBlue);
  font-size :1.25rem ;
  line-height :1.7 ;
  padding :3rem 2rem ;
  text-align :center ;
}
/**********
  policies 
**********/
#policies{
  display :grid ;
  grid-gap :3rem ;
  grid-template-columns :1fr ;
  padding :3rem 2rem ;
}
#policies div h2 img{
  display :inline-block ;
  width :1.5rem;
}
#policies div p{
  font-size :0.9rem;
  line-height :1.5 ;
  padding-top: 1rem ;
  text-align: justify ;
}
/************
MEDIA QUERIES
************/
/*tablet view*/
@media all and (min-width:48rem){
  .main_img{
    display: block;
    height:auto;
    margin :7rem auto;
    width: 100%;
  }

  main  div{padding :2rem 6rem;}
  #started{padding :0 6rem ;}

  #mission {padding :3rem 6rem ;}

  #oil{
    font-size :1.45rem ;
    padding :3rem 6rem ;
  }

  #policies{padding :3rem 6rem ;}
  #policies div p{font-size :1.1rem;}
}
/*mini laptops*/
@media all and (min-width:62rem){
  main{
    gap: 0 ;
    grid-template-columns : 2fr 1fr ;
  }
  #started{padding :2rem 2rem 0 0 ;}
}
