:root{
  --skyBlue:#5bb4f9;
  --darkBlue:#181b20;
  --seaBlue:#1f6087;
  --greyish:#5b6897;
  --greenish:#777f82;
}

body{color:var(--darkBlue)}
.main_img{
  height:9rem;
  margin :3rem 0;
  width: 100%;
}
h1{
  font-size :2rem ;
  font-weight :300 ;
  padding :1rem 1rem 2rem ;
  text-align :center ;
}

/**********
  address
**********/
main{
  display: grid ;
  grid-row-gap :2rem ;
  grid-template-columns :1fr ;
  place-items :center ;
}
#visit p{
  font-size :1.25rem ;
  font-weight :200;
  padding :0 2rem 2rem ;
}
.visit_details{
  display:flex ;
  padding :1rem 0 0 2rem ;
}
.visit_details div i, 
.visit_details div h2, 
.visit_details div h2 + p{font-size: 0.9rem !important;}
.visit_details div h2{padding-left: 2rem ;}
.visit_details div h2+p{font-weight: 400!important;}
hr{
  background :var(--darkBlue);
  height :0.2rem;
  width :100%;
}
form {
}
form input, 
textarea{
  border :1px solid var(--seaBlue);
  border-radius :0.3rem ;
  display :block ;
  height: 2.5rem ;
  margin-bottom: 1.5rem ;
  padding: 0 0.5rem ;
  width: 80vw;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  9px 9px 14px #dedede, -9px -9px 14px #ffffff;
}
textarea{
  height :11rem ;
  padding :0.5rem ;
}
form input:focus, 
textarea:focus{
  border :1px solid var(--skyBlue);
  outline :none ;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
form > button{
  background: var(--skyBlue);
  border :0;
  border-radius :0.3rem ;
  font-size :1rem ;
  font-weight :500!important;
  height :2.5rem;
  margin-bottom: 2rem ;
  outline:none ;
  width:80vw;
  background: linear-gradient(145deg, #61c1ff, #52a2e0);
  box-shadow:  9px 9px 14px #c4c4c4, -9px -9px 14px #c4c4c4;
}
form > button > i{
  margin-left: 1rem ;
}
iframe{
  display :block ;
  height :22rem ;
  margin :2rem auto 3rem;
  width:90%;
}