:root{
  --skyBlue:#5bb4f9;
  --darkBlue:#181b20;
  --seaBlue:#1f6087;
  --greyish:#5b6897;
  --greenish:#777f82;
}

body{color:var(--darkBlue)}
.main_img{
  height:9rem;
  margin :3rem 0;
  width: 100%;
}
h1{
  font-size :2rem ;
  font-weight :300 ;
  padding :1rem 1rem 2rem ;
  text-align :center ;
}

/**********
  address
**********/
main{
  display: grid ;
  grid-row-gap :2rem ;
  grid-template-columns :1fr ;
  place-items :center ;
}
#visit p{
  font-size :1.25rem ;
  font-weight :200;
  padding :0 2rem 2rem ;
}
.visit_details{
  display:flex ;
  padding :1rem 0 0 2rem ;
}
.visit_details div i, 
.visit_details div h2, 
.visit_details div h2 + p{font-size: 0.9rem !important;}
.visit_details div h2{padding-left: 2rem ;}
.visit_details div h2+p{font-weight: 400!important;}
hr{
  background :var(--darkBlue);
  height :0.2rem;
  width :100%;
}
form {
}
form input {
  display :block ;
  width: 80vw;
}