:root{
  --skyBlue:#5bb4f9;
  --darkBlue:#181b20;
  --seaBlue:#1f6087;
  --greyish:#5b6897;
  --greenish:#777f82;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
body{color:var(--darkBlue)}
.main_img{
  height:9rem;
  margin :3rem 0;
  width: 100%;
}
h1{
  font-size :2rem ;
  font-weight :200!important ;
  oacity :0.75;
  padding :1rem 1rem 2rem ;
  text-align :center ;
}

/**********
  address
**********/
main{
  display: grid ;
  grid-gap :2rem ;
  grid-template-columns :1fr ;
  place-items :center ;
}
#visit p{
  color:var(--greyish);
  font-size :1.5rem ;
  font-weight :100;
  padding :2rem ;
}