:root{
  --skyBlue:#5bb4f9;
  --darkBlue:#181b20;
  --seaBlue:#1f6087;
  --greyish:#5b6897;
  --greenish:#777f82;
}
body{color:var(--darkBlue)}
.main_img{
  height:9rem;
  margin :3rem 0;
  width: 100%;
}
h1{
  font-size :2rem ;
  font-weight :300 ;
  padding-bottom: 2rem ;
  text-align :center ;
}
#products{
  display :grid ;
  grid-gap :4rem ;
  grid-template-columns :1fr ;
  margin :1rem 0 3rem;
  place-items :center ;
}
#products div{text-align :center ;}
#products  div  img{
  border-radius :0.5rem ;
  box-shadow:  6px 6px 11px #d9d9d9,  -6px -6px 11px #d9d9d9;
  height :auto;
  width :80%;
}
/************
MEDIA QUERIES
************/
/*tablet view*/
@media all and (min-width:48rem){
  .main_img{
    display: block;
    height:auto;
    margin :7rem auto;
    width: 90%;
  }

  h1{font-size :2.2rem ;}

  #products{
    grid-template-columns :1fr 1fr;
    grid-gap :2rem ;
    margin: 1rem 2rem 6rem  !important;
  }
  #products  div  img{height :15rem;}
}