:root{
  --skyBlue:#5bb4f9;
  --darkBlue:#181b20;
  --seaBlue:#1f6087;
  --greyish:#5b6897;
  --greenish:#777f82;
}
body{
  color:var(--darkBlue);
  overflow-x: hidden !important;
}
.main_img{
  height:9rem;
  margin :3rem 0;
  width: 100%;
}
h1{
  font-size :2rem ;
  font-weight :300;
  text-align :center ;
}
h1 + p{
  font-size :0.9rem ;
  line-height :1.5 ;
  padding :1rem 1rem 2rem ;
}
#products{
  display :grid ;
  grid-row-gap :4rem ;
  grid-template-columns :1fr ;
  margin :1rem 0 3rem;
  place-items :center ;
}
#products div{
  height :30rem;
  width: 20rem ;
  border-radius: 15px;
  box-shadow:  6px 6px 11px #d9d9d9,  -6px -6px 11px #ffffff;
}
#products div img{
  height :24rem;
  width :100%;
}
#products div p{
  padding: 2rem 1rem ;
  text-align: center ;
}
/************
MEDIA QUERIES
************/
/*tablet view*/
@media all and (min-width:48rem){
  .main_img{
    display: block;
    height:auto;
    margin :7rem auto;
    width: 90%;
  }

  h1 + p{
    font-size :1.1rem ;
    text-align:center ;
  }

  #products{
    grid-template-columns :1fr 1fr;
    margin :1rem auto 6rem;
    max-width: 70%;
  }

  #products div{
    height :24rem;
    width: 14rem ;
  }
  #products div img{height :18rem;}
}
/*mini laptops*/
@media all and (min-width:62rem){
  h1 + p{padding :1rem 15rem 2rem ;}
}
/*laptop view*/
@media all and (min-width:75rem){
  .main_img{height:22rem;}
  #products{
    grid-template-columns :repeat(4, 1fr);
    gap: 4rem;
    justify-content: center;
  }
}