:root{
  --skyBlue:#5bb4f9;
  --darkBlue:#181b20;
  --seaBlue:#1f6087;
  --greyish:#5b6897;
  --greenish:#777f82;
}


/**********
image slider 
**********/
/* Slideshow container */
.slideshow-container {
  max-width: 62.5rem;
  position: relative;
  margin: 1rem auto 0 ;
  
}

/* Hide the images by default */
.mySlides {display: none;}
.mySlides img{
  height :26rem;
  width :100vw;
}
/* Caption text */
.text {
  font-weight: 900;
  font-size :2rem ;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center ;
  background: -webkit-linear-gradient(var(--darkBlue), var(--skyBlue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 
#small{
  background :var(--seaBlue);
  margin-top: -5px;
  padding :3rem 2rem;
}
#small p{
  color :var(--darkBlue);
  font-size :1.5rem;
  line-height :1.7;
  text-align :center ;
}
.progressive{
  background: #e4e4e4 ;
  padding: 3rem 2rem ;
}
.progressive p{
  font-size :0.9rem;
  line-height: 1.5 ;
  text-align :justify ;
}
.progressive div{
  align-items: center ;
  display :flex ;
  justify-content:center ;
  margin: 2.5rem auto 0;
}
.progressive div img{
  border:4px solid var(--skyBlue);
  width :8rem;
}
.progressive div :first-child{border-right: 2px solid var(--skyBlue) }
.progressive div :last-child{border-left: 2px solid var(--skyBlue)}
.bottlingFac{
  font-size :0.9rem;
  line-height:1.5 ;
  padding: 3rem 2rem ;
  text-align :justify ;
}
#stack div{margin :0 auto 1rem ;}
#stack p{text-align: left ;}
/**********
  prefoot 
**********/
#preFoot img{
  margin :2rem auto 0;
  width:100%;
}
#preFoot h2{
  font-size :1.8rem ;
  font-weight: 200 ;
  padding: 0 2rem 1rem ;
}
#preFoot p{
  line-height :1.5 ;
  padding :0 2rem ;
}
/************
MEDIA QUERIES
************/
/*tablet view*/
@media all and (min-width:48rem){
  .slideshow-container {margin: 7rem 0;}
  .mySlides img{
    display: block;
    height :26rem;
    margin: 0 auto;
    width :80%;
  }

  #small{padding :3rem 6rem;}
  #small p{
    font-size :2.5rem;
    line-height :1.5;
  }

  .progressive{padding: 3rem 6rem ;}
  .progressive p{font-size :1.1rem;}

  .bottlingFac{
    font-size :1.1rem;
    padding: 3rem 6rem ;
  }
  
  #preFoot h2{
    font-size :2rem ;
    padding: 0 6rem 1rem ;
  }
  #preFoot p{
    line-height :1.5 ;
    padding :0 6rem ;
  }
}