:root{
  --skyBlue:#5bb4f9;
  --darkBlue:#181b20;
  --seaBlue:#1f6087;
  --greyish:#5b6897;
  --greenish:#777f82;
}

/*imported Google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

/*basic css reset */
*{
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{scroll-behavior: smooth ;}
.show{display :none ;}
a{
  text-decoration :none ;
  cursor :pointer ;
}
/**********
  header 
**********/
header{
  display: flex ;
  position :relative ;
}
header img{
  width :7rem;
  height :auto ;
}
.custom-shape-divider-top-1600163439 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1600163439 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1600163439 .shape-fill {fill: #5BB4F9;}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1600163439 svg {
        width: calc(140% + 1.3px);
        height: 111px;
    }
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--skyBlue);
  clip-path: circle(1.5625rem at calc(100% - 2.8125rem) 2.8125rem);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
  z-index: 2;
}
.menu-btn{
  position: fixed;
  z-index: 3;
  right: 1.25rem;
  top:1.25rem ;
  height:3.125rem;
  width: 3.125rem;
  text-align: center;
  line-height: 3.125rem;
  font-size: 2rem;
  padding-top: 0.17125rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{background :transparent ;}
#active:checked ~ .menu-btn i:before{content: "\f00d";}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{margin: 0.9375rem 0;}
.wrapper ul li a{
  text-decoration: none;
  font-size: 1.875rem;
  font-weight: 500;
  padding: 0.3125rem 1.875rem;
  color: var(--headerColor);
  position: relative;
  line-height: 3.125rem;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 3.125rem;
  left: 0;
  border-radius: 3.125rem;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{transform: scaleY(1);}
.wrapper ul li a:hover{
  color: inherit;
  outline :none!important ;
}
input[type="checkbox"]{display: none;}

/**********
image slider 
**********/
/* Slideshow container */
.slideshow-container {
  max-width: 62.5rem;
  position: relative;
  margin: 1rem auto 0 ;
  
}

/* Hide the images by default */
.mySlides {display: none;}
.mySlides img{
  height :26rem;
  width :100vw;
}
/* Caption text */
.text {
  font-weight: 900;
  font-size :2rem ;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center ;
  background: -webkit-linear-gradient(var(--darkBlue), var(--skyBlue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 
#small{
  background :var(--seaBlue);
  margin-top: -5px;
  padding :3rem 2rem;
}
#small p{
  color :var(--skyBlue);
  font-size :1.5rem;
  line-height :1.7;
  text-align :center ;
}
.progressive{
  background: #e4e4e4 ;
  padding: 3rem 2rem ;
}
.progressive p{
  line-height: 1.5 ;
  text-align :justify ;
}
.progressive div{
  align-items: center ;
  display :flex ;
  justify-content:center ;
  margin: 3rem auto ;
}
.progressive div img{
  border:4px solid var(--skyBlue);
  width :8rem;
}
.progressive div :first-child{border-right: 2px solid var(--skyBlue) }
.progressive div :last-child{border-left: 2px solid var(--skyBlue)}
/**********
hi section 
**********
.hi{
  background: var(--skyBlue);
  margin-top : -2rem !important ;
  padding-bottom: 3rem ;
}
.hi h2{
  color :var(--darkBlue);
  margin-bottom :2rem ;
  padding-bottom :0 ;
  padding-top :5rem ;
  text-shadow :1px 1px 1px var(--greenish), -1px -1px 1px var(--greyish);
}
.hi h2,
.products > h2{
  font-size :3rem ;
  letter-spacing :0.25rem ;
  text-align :center ;
}
.hi > p,
.products > p{
  display :block ;
  line-height :1.7;
  margin: 0 auto ;
  text-align: justify ;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.27);
  width :80%;
}
.hi > p > a{
  color:#fff ;
  font-size :1.3rem ;
}

*********
  Products 
**********
.products{
  color:var(--darkBlue);
  padding :3rem 0;
}
.products > h2{margin-bottom:2rem ;}
.products > p{
  line-height :1.7;
}

div{
  display:flex;
  flex-direction:row ;
  flex-wrap: nowrap ;
  flex-basis: 9rem;
}
div > img{
  width :3rem;
  height :auto ;
}
.products_images{
  display :grid ;
  grid-gap :1rem ;
  grid-template-columns :1fr ;
  place-items :center ;
}
.products_images div{
  display :flex ;
  flex-direction :column ;
  padding :2rem 0.5rem 0;
}
.products_images div  p{
  font-size :1.5rem ;
 text-align :center ;
}
.products_images  div  img{
  width:100%;
}*/
